<doctype HTML5>
<html lang="en-US">
<head>
    <meta charset="utf -8">
    <title>Bonjour Munde!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="background">
        <img src='img/worldmap.jpg'>
    </div>
<div id="frheader"><a href="http://localhost:4567">Bienvenue!</a>
            <div id="navbar">
            <ul id="ourlist">
                <li><a href="http://localhost:4567/espanol">Hola Mundo</a></li>
                <li><a href="http://localhost:4567/francais">Bonjour Munde</a></li>
                <li><a href="http://localhost:4567/norsk">Hallo Verden</a></li>
            </ul>
            </div>
</div>

<div id="frinfo">While not as common as Spanish, French is spoken outside of France, such as is Haiti, and parts of Canada and Louisiana.  
</div>

<div id="google_translate_element"> Translate this page:</div>

<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html> 