<doctype HTML5>
<html lang ="en">
<head>
    <meta charset="utf -8">
    <title>Oh, Hello World!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="background">
        <img src='img/worldmap.jpg'>
    </div>
    <div id ="firstdiv">Hello world!
        <div id="navbar">
            <ul id="ourlist">
                <li><a href="/espanol">Hola Mundo</a></li>
                <li><a href="francais">Bonjour Monde</a></li>
                <li><a href="/norsk">Hallo Verden</a></li>
            </ul>
            </div>
        </div>
</body>
 <footer id="footer">Links
    <br>
      <a href="http://www.minedminds.org/"> Mined Minds </a>
</footer>
</html>
