<doctype HTML5>
<html lang ="en">
<head>
    <meta charset="utf -8">
    <title>First CSS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="background">
        <img src='img/worldmap.jpg'>
    </div>
    <div id ="firstdiv">Hello world!
        <div id="seconddiv">
            <ul id="ourlist">
                <li><a href="http://localhost:4567/espanol">Hola Mundo</a></li>
                <li><a href="https://www.google.com/">Bonjour Munde</a></li>
                <li><a href="https://www.w3schools.com/html/">Hallo Verden</a></li>
            </ul>
            </div>
        </div>
</body>
 <footer id="footer">Links
    <br>
        <a href="http://www.minedminds.org/"> Mined Minds </a>
</footer>
</html>
